<!-- <div class="map-page">

	<div class="map-page__filters">
		@for (filter of filters(); track filter.id) {
		<button
			(click)="toggleFilter(filter.id)"
			class="map-page__filter-btn"
			[class.map-page__filter-btn--active]="filter.active"
		>
			<material-icon
				[icon]="filter.icon"
				class="map-page__filter-icon"
			></material-icon>
			{{ filter.label }}
		</button>
		}
	</div>


	<div class="map">

		<div class="map__bg"></div>


		@for (marker of markers(); track marker.id) { @if (filters().find(f =>
		f.id === marker.type)?.active) {


		@if (marker.type === 'recipe' || marker.type === 'recipes') {
		<div
			class="map__marker"
			[style.top]="marker.top"
			[style.left]="marker.left"
		>
			<div class="map__marker-tooltip">{{ marker.label }}</div>
			<recipe-icon
				[marker]="{
                                id: marker.id,
                                title: marker.label,
                                imageUrl: $any(marker).image || 'https://images.unsplash.com/photo-1546069901-ba9599a7e63c'
                            }"
			></recipe-icon>
		</div>
		}


		@else if (marker.type === 'restaurant' || marker.type === 'restaurants'
		|| marker.type === 'Rest') {
		<div
			class="map__marker"
			[style.top]="marker.top"
			[style.left]="marker.left"
		>
			<div class="map__marker-tooltip">{{ marker.label }}</div>
			<restaurant-icon
				[marker]="{
                                id: marker.id,
                                title: marker.label,
                                imageUrl: $any(marker).image || 'https://images.unsplash.com/photo-1517248135467-4c7edcad34c4'
                            }"
			></restaurant-icon>
		</div>
		}


		@else {
		<div
			class="map__marker map__marker--z0"
			[style.top]="marker.top"
			[style.left]="marker.left"
		>
			<div class="map__marker-tooltip">{{ marker.label }}</div>
			<div class="map__marker-fallback">
				<material-icon
					icon="school"
					class="map__marker-icon-school"
					style="color: black"
				></material-icon>
				<div class="map__marker-tail"></div>
			</div>
		</div>
		} } }


		<button class="map__location-btn">
			<material-icon icon="my_location"></material-icon>
		</button>
	</div>
</div> -->

<div class="map-page">
	<!-- Блок фільтрів (залишається зверху) -->
	<div class="map-page__filters">
		@for (filter of filters(); track filter.id) {
		<button
			(click)="toggleFilter(filter.id)"
			class="map-page__filter-btn"
			[class.map-page__filter-btn--active]="filter.active"
		>
			<material-icon
				[icon]="filter.icon"
				class="map-page__filter-icon"
			></material-icon>
			{{ filter.label }}
		</button>
		}
	</div>

	<!-- Контейнер карти -->
	<div class="map">
		<!-- Сюди Leaflet відмалює OpenStreetMap -->
		<div id="osm-map" class="map__container"></div>

		<!-- Кнопка локації -->
		<button class="map__location-btn" (click)="goToMyLocation()">
			<material-icon icon="my_location"></material-icon>
		</button>
	</div>
</div>
