<nav
	class="sticky top-0 z-[100] flex min-h-14 items-center bg-[var(--c-bg-secondary)] px-5 shadow max-md:w-full max-md:px-3"
>
	<ul
		class="m-0 flex w-full list-none items-center gap-2 p-0 max-md:justify-between max-md:gap-0"
	>
		<!-- Твоя оригінальна іконка Home/Dashboard зліва зверху -->
		<li class="inline-flex items-center max-md:flex-1 max-md:justify-start">
			<material-icon
				[routerLink]="sidebarToggler() ? '/dashboard' : '/'"
				[name]="viewport() === 'mobile' ? '' : sidebarToggler() ? translateService.translate('Dashboard')() : ''"
				[icon]="sidebarToggler() ? 'dashboard' : 'home'"
				[routerLinkActiveOptions]="{ exact: true }"
				class="cursor-pointer"
			></material-icon>
		</li>

		<!-- Розпірка -->
		<li class="mx-auto max-md:hidden"></li>

		@if (sidebarToggler()) {
		<li
			class="inline-flex items-center max-md:flex-1 max-md:justify-center"
			(mouseleave)="onBurgerHover(false)"
			(mouseenter)="onBurgerHover(true)"
		>
			<icon-burger
				(updated)="onBurgerClick()"
				[state]="burgerState()"
				[attr.aria-label]="translateService.translate('Menu')()"
			></icon-burger>
		</li>
		} @if (showProfile()) {
		<li class="inline-flex items-center max-md:flex-1 max-md:justify-end">
			<material-icon icon="person" routerLink="/profile"></material-icon>
		</li>
		}
	</ul>
</nav>
