<div class="public-layout">
	<header class="public-layout__topbar">
		<div class="public-layout__title">{{ pageTitle() }}</div>
		<!-- Іконка покажеться ТІЛЬКИ якщо ми НЕ на сторінці профілю -->
		@if (pageTitle() !== 'Profile') {
		<a
			aria-label="Profile"
			routerLink="/profile"
			class="public-layout__profile"
		>
			<material-icon icon="person"></material-icon>
		</a>
		}
	</header>

	<main class="public-layout__main">
		<router-outlet />
	</main>

	<nav aria-label="Primary navigation" class="public-layout__navigation">
		<a routerLink="/home" routerLinkActive="public-layout__link--active">
			<material-icon icon="home"></material-icon>
			<span>Home</span>
		</a>
		<a routerLink="/explore" routerLinkActive="public-layout__link--active">
			<material-icon icon="explore"></material-icon>
			<span>Explore</span>
		</a>
		<a
			routerLink="/"
			routerLinkActive="public-layout__link--active"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<material-icon icon="dynamic_feed"></material-icon>
			<span>Feed</span>
		</a>
		<a routerLink="/map" routerLinkActive="public-layout__link--active">
			<material-icon icon="map"></material-icon>
			<span>Map</span>
		</a>
		<a
			routerLink="/workspace"
			routerLinkActive="public-layout__link--active"
		>
			<material-icon icon="workspaces"></material-icon>
			<span>Workspace</span>
		</a>
	</nav>
</div>
