<article class="author-page">
	<div class="author-page__banner">
		<img
			[src]="author().imageUrl"
			[alt]="author().name"
			class="author-page__image"
		/>
	</div>

	<div class="author-page__body">
		<div class="author-page__header">
			<h1 class="author-page__name">{{ author().name }}</h1>
			<span class="author-page__role">{{ author().role }}</span>
		</div>

		<div class="author-page__meta">
			<div class="author-page__meta-item">
				<material-icon icon="workspace_premium"></material-icon>
				<span>{{ author().experience }}</span>
			</div>
			<div class="author-page__meta-item">
				<material-icon icon="restaurant_menu"></material-icon>
				<span>{{ author().specialty }}</span>
			</div>
		</div>

		<div class="author-page__bio">
			<h2 class="author-page__bio-title">Про кухаря</h2>
			<p class="author-page__bio-text">{{ author().bio }}</p>
		</div>

		@if (author().restaurants.length) {
		<section class="author-page__section">
			<h2 class="author-page__section-title">
				<material-icon icon="storefront"></material-icon>
				Заклади, в яких працює
			</h2>
			<div class="author-page__grid">
				@for (restaurant of author().restaurants; track restaurant.id) {
				<restaurant-short [restaurant]="restaurant"></restaurant-short>
				}
			</div>
		</section>
		} @if (author().recipes.length) {
		<section class="author-page__section">
			<h2 class="author-page__section-title">
				<material-icon icon="menu_book"></material-icon>
				Фірмові рецепти від автора
			</h2>
			<div class="author-page__grid">
				@for (recipe of author().recipes; track recipe.id) {
				<recipe-short [recipe]="recipe"></recipe-short>
				}
			</div>
		</section>
		}
	</div>
</article>
