<a
	[routerLink]="['/restaurant']"
	[queryParams]="{ id: restaurant().id }"
	class="restaurant-short"
>
	<div class="restaurant-short__banner">
		<img
			[src]="restaurant().imageUrl"
			[alt]="restaurant().title"
			class="restaurant-short__image"
		/>
		<div class="restaurant-short__rating">
			<material-icon icon="star"></material-icon>
			<span>{{ restaurant().rating }}</span>
		</div>
	</div>
	<div class="restaurant-short__body">
		<h3 class="restaurant-short__title">{{ restaurant().title }}</h3>
		<p class="restaurant-short__description">
			{{ restaurant().description }}
		</p>
	</div>
</a>
