<div
	class="group relative flex flex-col items-center transition-transform hover:scale-110"
>
	<!-- Сам кружечок з картинкою -->
	<div
		class="relative flex h-9 w-9 items-center justify-center overflow-hidden rounded-full border-2 border-white bg-gray-200 shadow-lg z-10"
	>
		<!-- Додали onerror, щоб у разі битого посилання підставлялась гарантована картинка -->
		<img
			[src]="marker().imageUrl"
			[alt]="marker().title"
			class="h-full w-full object-cover"
			onerror="
				this.src = 'https://placehold.co/100x100/eeeeee/333333?text=Err'
			"
		/>
	</div>
	<!-- Хвостик піна -->
	<div
		class="absolute -bottom-1 h-3 w-3 rotate-45 bg-white shadow-sm z-0"
	></div>
</div>
